body{
    margin: 0;
    font-family: 'Abel', sans-serif;
    background-color: rgba(230, 230, 231);
}



.image { 
    position: relative; 
    width: 100%; /* for IE 6 */
    height: 100%;
    overflow: hidden;
 }
 
 h2 { 
    position: absolute; 
    top: 40%; 
    left: 0; 
    width: 100%; 
    color: white; 
    font: bold 80pt Sans-Serif; 
    letter-spacing: -1px;  
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
    padding-left: 2.5%;
 }

p{
    margin-left: 25%;
    margin-right: 25%;
  font-size: 30px;
  white-space: pre;
  line-height: 45pt;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;

}

.bar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
}

#gold{
    display: inline;
    position: relative;
    text-transform: uppercase;
	font-size: 40pt;
	letter-spacing: 2px;
	color: rgba(219, 178, 12, 0.5);

}
#gold:after{
    content: "Gold digger";
    text-transform: uppercase;
    position: absolute; 
    left: -2px; 
    top: -5px;
    color: rgba(48,28,28,0.5);   
    
}


#broke{
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.8);
}
#down{
    position: absolute; 
    background-color: black;
    color: #fff;

}
h1{
    letter-spacing: 10pt;
    font-size: 100pt;
    align-self: center;
    text-align: center;
}

#chorus{
    font-family: 'Manjari', sans-serif;
}
