body{
    margin: 0;
    background-color: #E5E5E5;
    font-family: sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
.img{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.first-letter {
    font-size: 35px;
    line-height: 70px;
  }

.star{
    width: 30px;
    
    
}

#gray{
    filter: grayscale(100%);

}
#stars_container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    padding-top: 0.83em;
    padding-bottom: 0.83em;

}
#nutrition-container{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
}
#welcome{
    margin-top: 50px;
}

#header{
   margin-right: 0;
   text-align: center;
   padding-top: 0.5%;
   padding-bottom: 0.5%;
   font-family: 'Reenie Beanie', cursive;
    font-size: 20pt;

    background: #1FD388;
}
.button_container{
    margin: auto;
    width: 50%;

}
.btn{
    background: #1FD388;
    margin: auto;
    margin-top: 20px;
    padding: 2.5% 0% 2.5% 2.5%;
    text-align: center;
    text-decoration: none;
    font-size: 18pt;
    color: black;
}

h4{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    text-align: center;
    text-decoration: none;
    font-size: 18pt;
    font-weight: lighter;
}
#more_ing{
    display: none;
}

#more_dir{
    display: none;
}

#chicken{
    font-family: 'Reenie Beanie', cursive;
    text-align: center;
    font-size: 30pt;
    margin-block-end: 0;


}
.vm{
    font-size: 15pt;
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%

}
li{
    line-height: 20pt;
    padding-bottom: 15pt;
    font-size: 13pt;
    padding-left: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#info{
    display: inline;

}
h3{

    text-align: center;
    font-size: 13pt;
    /* color: grey; */
    font-weight: lighter;
    padding-top: 0;
}

#ing_container{
    margin-bottom: 0;
    padding-bottom: 0;
}

#dir_container{
    margin-top: 0;
    padding-top: 0;
}