body {
	margin: 0;

    background-color: #000; /*Default bg, similar to the background's base color*/
    background-image: url("45064.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    font-family: 'Righteous', cursive;
    background-position: bottom left;


}
.parent{
    height: 90vh;

}

#one{
    margin-top: 0;
    width: 100%;
    /* overflow-wrap: break-word; */
    color: white;
    position: relative;
    left: 25%;
    top: 80%;
    line-height: 0.5%;

}

p{
    text-align: center;
}



.small{
    font-size: 4vw;
}

@media only screen and (max-width: 1100px) {
    #one{
        margin-top: 0;
        width: 100%;
        /* overflow-wrap: break-word; */
        color: white;
        position: relative;
        left: 35%;
        top: 20%;
        line-height: 0.5%;
    
    }

    .small{
        font-size: 3vw;
    }

    
    
  }





@media only screen and (max-width: 900px) {
    #one{
        margin-top: 0;
        width: 100%;
        /* overflow-wrap: break-word; */
        color: white;
        position: relative;
        left: 8%;
        top: 20%;
        line-height: 0.5%;
    
    }

    p{
        text-align: left;
    }
    
  }

