body{
    margin: 0;
    background-color: rgba(230, 230, 231)
}



.image { 
    position: relative; 
    width: 100%; /* for IE 6 */
    height: 100%;
    overflow: hidden;
 }
 
 h2 { 
    position: absolute; 
    top: 40%; 
    left: 0; 
    width: 100%; 
    color: white; 
    font: bold 80pt Sans-Serif; 
    letter-spacing: -1px;  
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
    padding-left: 2.5%;
 }

p{
    margin-left: 25%;
    margin-right: 25%;
  font: 20pt Sans-Serif;
  white-space: pre;
  line-height: 45pt;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;

}

.bar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
}